<div class="my-10 mx-10 divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
  <div class="px-4 py-5 sm:px-6 flex flex-row align-middle content-center items-center">
    <h2 class="flex-grow">This is the Capture canvas</h2>
    <button (click)="captureImage()" type="button"
      class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Capture</button>
    <p class="mx-5">or</p>
  </div>
  <div class="px-4 py-5 sm:p-6">
    <canvas #capture_canvas id="capture_canvas" class="bg-gray-200 h-auto w-[80vw] rounded-md"></canvas>
  </div>
</div>
